@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);




:root {
  --bg-color: rgb(230,230,230);
  --main-border:2px solid #000;
  --btn-background:rgb(247,247,247); 
  --fff-color:#000;
  --li-background:rgb(250,250,250);
  --ul-background:rgb(245,245,245);
  --p-color:#113;
  --p1-color:#141414;
  --box-shadow:#000  0 2px 20px 0;
}

.dark-theme {

--bg-color: #444;
  --main-border:2px solid #fff;
  --btn-background:#110; 
  --fff-color:#fff;
  --li-background:#222;
  --ul-background:#333;
  --p-color:#zzx;
  --p1-color:#777;
  --box-shadow:#fff  0 2px 10px 0;

}











@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
background:none;
font-family: "Raleway", sans-serif;
list-style:number;
list-style-type: number;

}


.n {
  margin-top:-15px;
  margin-bottom:10px;
  position: relative;
}

.n h2 {
  font-family: "Raleway", sans-serif;
  margin-left: 40px;
  
  color:var(--fff-color);
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  background:none;
  
}

.n h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: ;
}

.n h2:nth-child(2) {
  color:var(--fff-color);
  animation: animate 4s ease-in-out infinite;
}






@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
.alph
{
   text-transform: uppercase;
   text-align: center;
  background-image: linear-gradient(
     90deg,
    #fff 5%,
    #000 10%,
    #fff 20%,
    #000 30%,
    #fff 40%,
    #000 50%,
    #fff 60%,
    #000 70%,
    #fff 80%,
    #000 90%,
    #fff 100%,
    #000 105%,
    #fff 110%,
    #000 105%,
    #fff 110%,
    #000 115%,
    #fff 120%,
    #000 125%,
    #fff 30%
    
    
     
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color:,var(--fff-color);
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip  3s linear infinite ;
  display: inline-block;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-top:30px;

    
}

@keyframes textclip {
  to {
    background-position: 200% center; 
  }}
 
.button1 {
  
    text-align: center;
    padding: 6px 6px;
    background-color:var(--btn-background); 
    color:var(--fff-color); 
    border: var(--main-border);
    float: right;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 8px;
    text-decoration:none;
    transition-duration: 0.4s;
    display:inline-block;
    font-family: monospace;
    

}

.button1:hover {
    background-color: #black;
    color: #white;
    box-shadow: #00f8c7  0 5px 50px 0;
    opacity:2;
    border: 2px solid #00f8c7;
  }


.button2 {
  
    text-align: center;
    padding: 4px 6px;
    background-color:var(--btn-background); 
    color:var(--fff-color); 
    border: var(--main-border);
    float: right;
    border-radius: 8px;
    font-size: 10px;
    margin-top: 8px;
    text-decoration:none;
    transition-duration: 0.4s;
    display:inline-block;
font-family:'Droid Arabic Kufi', serif;

    

}

.button2:hover {
    background-color: #black;
    color: #white;
    box-shadow: #00f8c7  0 5px 50px 0;
    opacity:2;
    border: 2px solid #00f8c7;
  }

.icon{
 float: left;
 background:none;
 margin-right: 10px;
 border-radius: 13px;
 margin-top:-10px;
 display:inline-block;

}
.icon img {
	width: 50px ;
	height: 50px;
	border: 2px #666 solid;
   border-radius: 13px;
   
}


li {
    display: block;  
    padding: 20px 10px;
    margin: 20px;
    margin-right:1px;
    background:var(--li-background);
    border: var(--main-border);
    border-radius: 10px;
    color:#aaa;
    height:60px;
    padding-bottom:12px;
    box-shadow: var(--box-shadow);
}

ul {
    
    background:var(--ul-background);
    border: 2px solid rgb(100, 100, 100);
    border-radius: 0px;
    padding-right:16px;
    padding-left:10px;
    margin-left: -20px;
    margin-right: -11px;
    width:100%;
}


i{
display:inline-block;
}


.fa { 
    border-radius:12px;
    padding: 10px;  
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: #000000;
    color: white;
  }
  
  .fa-telegram {
    background: #08c;
    color: white;
  }
  

hr {
 width: fit-content;
margin: -10px;
}

p{
color:var(--p-color);
margin-top:-10px;
margin-bottom:10px;
display:inline-block;

}


.p1{
color:var(--p1-color);
display:inline-block;
align:center;
margin-bottom:-15px;
padding:0px;
font-size:11px;
padding-top:5px;
font-family:'Droid Arabic Kufi', Arabic;
width:58%;

}






.ana{
color:var(--fff-color);
  font-family: , monospace;
padding:0;
margin:10px;
display:block;
}
.alph2{color:#fff;}

.rg {
width: 40px ;
	height: 20px;
	border: var(--main-border);
   border-radius: 13px;
   background:#0f0;
   display:inline-block;
   margin:5px;
}

.g {
width: 40px ;
	height: 10px;
	border: var(--main-border);
   border-radius: 13px;
   background:#f00;
   display:inline-block;
   margin:0px;
   float:right;
   margin-right:-62px;
   margin-top:-13px;
   

   
}

.r {
width: 40px ;
	height: 10px;
	border: var(--main-border);
   border-radius: 13px;
   background:#f00;
   display:inline-block;
   margin:0px;
   float:right;
   margin-top:-13px;
   margin-right:-62px;
   


}

.b {
width: 40px ;
	height: 10px;
	border: var(--main-border);
   border-radius: 13px;
   background:#0f0;
   display:inline-block;
   margin:0px;
   float:right;
   margin-top:-13px;
   margin-right:-62px;
}



.dark {
   width: 25px ;
	
   border-radius: 13px;
   float:right;
   margin:5px;
}
.lang {
   width: 25px ;
   border-radius:1px;
   float:right;
   margin-top:40px;
   margin-right:-30px;
   display:inline-block;
}

.langar {
   width: 25px ;
   border-radius:1px;
   float:right;
   margin-top:40px;
   margin-right:-30px;
   display:inline-block;
}

.parag{

margin-top:-10px;


}
 
body{background:var(--bg-color)}





